.title {
  font-size: 5vw;
}
.subtitle {
  font-size: 2.5vw;
  padding-top: 1vw;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 84vh;
  display: flex;
  align-items: center;
  background-image: url("../../background1.jpg");
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 2vw;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  width:20vw;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

/* @media only screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
} */
